/* To-do 
1. arrow btn color change
2. About me : change the design
3. skills : change the other shape
4. navbar : when change bg, change the logo shape
5. change font style
*/

/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #2a2a2a;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-main-purple: #b29ddb;
  --color-light-purple: #e5ceff;
  --color-dark-purple: #826fa9;
  --color-black: #000000;
  --color-brown-grey: #938983;
  --color-light-blue: #90caf9;
  --color-illuminating-yellow: #f5df4d;
  --color-ultimate-grey: #939597;
  --color-rose-quartz: #f7cac9;
  --color-serenity: #92a8d1;

  /* Font size */
  --font-mega: 72px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  xfont-family: "Open Sans", sans-serif;
  xfont-family: "Nanum Gothic Coding", monospace;
  font-family: "Maven Pro", sans-serif;
  background: url(./home_icon/entire_bg.png) center/cover no-repeat;
  cursor: default;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  background: linear-gradient(
    to left,
    var(--color-serenity) 40%,
    var(--color-rose-quartz) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/* Section common */
section {
  padding: 100px 0px;
}

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--color-light-white);
  font-weight: var(--weight-bold);
  transition: all var(--animation-duration) ease-in-out;
  z-index: 2;
}
#navbar.navbar--dark {
  background-color: #4a4a4a;
  padding: 0;
}
.navbar__logo {
  font-size: var(--font-medium);
  border: 3px solid var(--color-light-white);
  border-radius: 50%;
  padding: 0.5%;
  margin: 5px 0 5px 15px;
}
.logo__j {
  color: var(--color-rose-quartz);
}

.logo__y {
  color: var(--color-serenity);
}
.navbar__menu {
  display: flex;
  font-size: var(--font-regular);
  cursor: pointer;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-light-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-serenity);
}

/* navbar__toggle-btn */
.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 24px;
  font-size: 24px;
  color: var(--color-light-white);
  display: none;
}

/* Home */
#home {
  text-align: center;
  color: var(--color-light-white);
  height: 700px;
  padding: 200px;
}
.home__icons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.home__title {
  font-size: var(--font-mega);
  font-weight: var(--weight-bold);
  color: var(--color-light-white);
}
.icon__container {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 2%;
}

.icon__container:hover {
  transform: translateY(-5px);
}
.home__icon__bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid var(--color-light-white);
  transition: all var(--animation-duration) ease;
}

.home__icon-color {
  background-color: var(--color-rose-quartz);
}
.home__icon-color2 {
  background-color: var(--color-serenity);
}

.icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
}

.icon:hover {
  transform: scale(1.1);
}

.icon1 {
  background: url(./home_icon/coding_icon.png) center/cover no-repeat;
}

.icon2 {
  background: url(./home_icon/mock-up.png) center/cover no-repeat;
}

.icon3 {
  background: url(./home_icon/git_logo.png) center/cover no-repeat;
}
.home__contact-container {
  display: inline;
}
.home__contact {
  color: var(--color-light-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  border: 2px solid var(--color-light-white);
  border-radius: 10px;
  padding: 10px;
}

.home__contact:hover {
  color: var(--color-serenity);
  border: 2px solid var(--color-serenity);
}

/* Skills */
#skills {
  color: var(--color-light-white);
  font-size: var(--font-medium);
}
.skillset {
  width: 800px;
  margin: 0 auto;
  font-weight: var(--weight-semi-bold);
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__description span {
  margin: 2%;
}
.skill__bar {
  width: 100%;
  height: 5px;
  background-color: var(--color-grey);
}
.skill__value {
  width: 100%;
  height: 5px;
}
.skill__bar__serenity {
  background-color: var(--color-serenity);
}

.skill__bar__rose {
  background-color: var(--color-rose-quartz);
}

/* My work */
#work h1 {
  margin-bottom: 50px;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}
.project {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 10px;
  background-color: var(--color-light-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: var(--color-dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-serenity);
}

.project__description span {
  color: var(--color-serenity);
}
.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-rose-quartz);
}

/* Contact me */
#contact {
  background-color: var(--color-navy);
  padding: 5px 0px;
}
#contact h1,
#contact h2,
.contact__description,
.contact__links i {
  color: var(--color-white);
}
.contact__title {
  margin-bottom: 2px;
}
.contact__description {
  width: 200px;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  background-color: var(--color-light-green);
  margin: 0 auto;
  padding: 5px 0px;
}
.contact__container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0px;
}
.contact__email {
  margin-right: 100px;
}
.contact__links {
  margin-bottom: 10px;
}
.contact__links i {
  font-size: var(--font-medium);
  padding: 0px 7px;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-light-green);
}

/* Arrow up */
#arrow__up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: var(--color-light-white);
  border: 3px solid var(--color-light-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) ease-in;
}

#arrow__up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .home__icon__bg {
    flex-direction: column;
  }
}
